// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";



.teks1 {
    background-color: orange;
    text-align: center;
    color: black;
}

.container2 {
    font-family: Arial, sans-serif; /* Menggunakan font Arial atau font tanpa serif lainnya */
    font-size: 18px; /* Ukuran font */
    line-height: 1.6;
    text-align: center;
}

.container2 text {
    font-weight: 400; /* Ketebalan font */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    display: center;
    float: center;
    width: 25%;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
  }

  .about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
  }

  .container {
    padding: 0 16px;
  }

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: rgb(61, 61, 61);
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #303030;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
