
/* Typography */
body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px !important;
  }
  /* General */
  .logo { font-weight: 500 !important;}
  .text-warning {  color: #ede861 !important;}
  .text-muted { color: #bcbcbc !important;}
  .text-success { color: #ff6f00 !important;}
  .text-light { color: #cfd6e1 !important;}
  .bg-dark { background-color: #212934 !important;}
  .bg-light { background-color: #e9eef5 !important;}
  .bg-black { background-color: #1d242d !important;}
  .bg-success { background-color: #59ab6e !important;}
  .pagination .page-link:hover {color: #000;}
  .pagination .page-link:hover, .pagination .page-link.active {
    background-color: #ff6f00;
    color: #fff;
  }
  /* Nav */
  #templatemo_nav_top { min-height: 40px;}
  #templatemo_nav_top * { font-size: .9em !important;}
  #templatemo_main_nav a { color: #212934;}
  #templatemo_main_nav a:hover { color: #ff6f00;}

  /* Shop */
  .shop-top-menu a:hover { color: #ff6f00 !important;}
  /* Product */
  .product-wap { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);}
  .product-wap .product-color-dot.color-dot-red { background:#f71515;}
  .product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
  .product-wap .product-color-dot.color-dot-black { background:#000000;}
  .product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
  .product-wap .product-color-dot.color-dot-green { background:#0bff7e;}
  .card.product-wap .card .product-overlay {
    background: rgba(0,0,0,.2);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
  }
  .card.product-wap:hover .card .product-overlay {
    visibility: visible;
    opacity: 1;
  }
  .card.product-wap a { color: #000;}
  #carousel-related-product .slick-slide:focus { outline: none !important;}
  #carousel-related-product .slick-dots li button:before {
    font-size: 15px;
    margin-top: 20px;
  }

  /* Carousel Brand */
  .tempaltemo-carousel .h1 {
    font-size: .5em !important;
    color: #000 !important;
  }

  /* Footer */
  #tempaltemo_footer a { color: #dcdde1;}
  #tempaltemo_footer a:hover { color: #ff6f00;}
  #tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
  #tempaltemo_footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }
  #tempaltemo_footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
  }
  #tempaltemo_footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
  }
  #tempaltemo_footer .border-light { border-color: #2d343f !important;}
  
  /*
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  */
  /* Small devices (landscape phones, 576px and up)*/
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
    font-size: 12px !important;
  }
  .product-wap .product-color-dot {
    width: 6px;
    height: 6px;
  }

  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 { font-size: 1em !important;}
  }

  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
   }

  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
    .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
    .product-wap .product-color-dot {
      width: 12px;
      height: 12px;
    }
  }

  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {}

  /* login */
.login{
    height: 100vh;
}

.header h1{
    font-style: normal;
    font-size: 32px;
    line-height: 48px;
    color: black;
}

.header p{
    margin-bottom: 22px;
}

.login-form label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-top: 10px;
}

.login-form input{
    background: rgb(244, 244, 244);
    border: 1px solid rgb(197, 197, 197);
    box-sizing: border-box;
    border-radius: 8px;
}

.login-form a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(110, 110, 110);
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
}

.login-form .signin{
    width: 100%;
    height: 42px;
    background: black;
    border-radius: 8px;
    color: white;
    margin-bottom: 15px;
    border: none;
}

.login-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(110, 110, 110);
}

.login-form span a{
    font-style: bold;
    font-weight: 600;
}

.login-right {
    position: relative;
}
/* end login */

/* gambar gerak samping */
.carousel-item img {
    object-fit: cover;
    height: 100%;
}
/* end gambar */

/* regis */
.regis{
    height: 100vh;
}

.regis-form span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(110, 110, 110);
}

.regis-form label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-top: 20px;
}

.regis-form input{
    background: rgb(244, 244, 244);
    border: 1px solid rgb(197, 197, 197);
    box-sizing: border-box;
    border-radius: 8px;
}

.regis-form a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(110, 110, 110);
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
}

.regis-form .signin{
    width: 100%;
    height: 42px;
    background: black;
    border-radius: 8px;
    color: white;
    margin-bottom: 15px;
    border: none;
}
/* end regis */

/* star banner */
.banner {
  display: flex;
  align-items: center;
  background-color: #ff6600;
  padding: 20px;
  color: white;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.banner1 {
    display: flex;
    align-items: center;
    background-color: #ff6600;
    padding: 20px;
    color: rgb(255, 255, 255);
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.banner img {
  max-width: 50%;
  width: 800px;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
  padding: 50px;
}

.banner1 img {
    max-width: 80%;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    padding: 25px;
  }
.banner-content {
  max-width: 50%;
  padding-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.banner p {
  margin-bottom: 20px;
}
/* end banner */

/* star produk persen */
.offers{
  background-color: #ffffff00;
  width: 100%;
  height: 330px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.offers h2 {
  color: #000000;
}
.offers .card1 img,
.offers .card2 img,
.offers .card3 img{
  width: 325px;
  height: 175px;
  left: 100px;
  top: 100%px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;}

.offers div {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* end produk persen */

/* star testimoni customer */
.customers {
  text-align: center;
  background-color: #fbd3d3;
  padding: 20px;
  width: 76%;
  margin: 0 auto;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.customers h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}
.customers div {
  display: inline-block;
  margin: 10px;
}
.customers img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* end testimoni customer  */

/* star penutup */
.kataucapan{
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}
/* end penutup */
/* footer */
